


.flex-class{
  display: flex;
}
.flex-center{
   display: flex;
   justify-content: center;
  align-items: center;
}



@media (max-width: 768px) {
  .home-container {
    padding: 1rem;
  }

  .question-block {
    padding: 1rem;
  }

  .logo img {
    width: 180px;
  }
}
@media (max-width: 480px) {
  .home-container {
    padding: 1rem;
    background-size: cover; 
    background-position: top center;
  }

  .logo {
    padding: 1rem;
    margin-bottom: 2rem;
  }

  .logo img {
    width: 150px;
  }

  .question-box {
    gap: 1.5rem;
  }

  .question-block {
    width: 100%;
    padding: 1rem;
    border-radius: 8px;
  }

  .question-block h3 {
    font-size: 32px;
     font-family: 'Averta-Light', sans-serif;
  }

  .option {
    width: 100%;
    padding: 10px;
    
    font-size: 14px;
     font-family: 'Averta-Light', sans-serif;
    text-align: center;
  }

  .option h3 {
    font-size: 14px;
     font-family: 'Averta-Light', sans-serif;
  }

  .option img,
  .option-bg {
    width: 100%;
    height: auto;
  }
}




.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  /* width:80%; */
  padding: 1.3rem 1rem 0rem 1rem;
  margin-bottom: 2.5rem;
}

.logo-svg {
margin-bottom: 1.5rem;
}

.home-container {
background-color: #f0f4f9;
max-width:none;
display: flex;

align-items: center;
align-content: center;
flex-direction: column;
  /* max-width:1920px ; */
  height: auto;
  min-height: 100vh;
  padding: 1.2rem;
  margin: 0 auto;
  box-sizing: border-box;
}
.navbar {
  display: flex;
  
  gap: 10px;
  flex-wrap: wrap;
}

.nav-item {
  padding: 16px;
  font-size:16px;
  border: 1px solid #00d2aa;
  border-radius: 6px;
  font-weight: 600;
  background: white;
  color: #00d2aa;
  cursor: pointer;
  transition: all 0.3s ease;
}

.nav-item.active,
.nav-item:hover {
  background: #00d2aa;
  color: white;
}

.iframe-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

iframe {
  border: none;
  border-radius: 8px;
}
